Baram/api_request/basic/baram_2.txt
Baram/api_request/id/baram_1.txt
Baram/api_request/stat/baram_3.txt
Baram/api_request/id/__pycache__/char_id.cpython-311.pyc
Baram/api_request/id/__pycache__/get_char_id.cpython-311.pyc
Baram/api_request/id/__pycache__/get_id.cpython-311.pyc
Baram/crwaler/chromedriver-win64/LICENSE.chromedriver
Baram/crwaler/chromedriver-win64/chromedriver.exe
Baram/crwaler/chromedriver-win64.zip
Baram/api_request/basic/__pycache__/char_basic.cpython-38.pyc
.gitignore
Baram/api_request/id/__pycache__/char_id.cpython-38.pyc
Baram/api_request/stat/__pycache__/char_stat.cpython-38.pyc
Baram/analysis.ipynb

Baram/main_analysis/__pycache__/merge.cpython-311.pyc
Baram/api_request/stat/__pycache__/stat_df.cpython-311.pyc
Baram/analysis.ipynb
Baram/analysis.ipynb
