Baram/api_request/basic/baram_2.txt
Baram/api_request/id/baram_1.txt
Baram/api_request/stat/baram_3.txt
Baram/api_request/id/__pycache__/char_id.cpython-311.pyc
Baram/api_request/id/__pycache__/get_char_id.cpython-311.pyc
Baram/api_request/id/__pycache__/get_id.cpython-311.pyc
Baram/crwaler/chromedriver-win64/LICENSE.chromedriver
Baram/crwaler/chromedriver-win64/chromedriver.exe
Baram/crwaler/chromedriver-win64.zip
Baram/api_request/basic/__pycache__/char_basic.cpython-38.pyc
.gitignore
Baram/api_request/id/__pycache__/char_id.cpython-38.pyc
Baram/api_request/stat/__pycache__/char_stat.cpython-38.pyc
Baram/analysis.ipynb

Baram/main_analysis/__pycache__/merge.cpython-311.pyc
Baram/api_request/stat/__pycache__/stat_df.cpython-311.pyc
Baram/analysis.ipynb
Baram/analysis.ipynb
Baram/api_request/item/baram_2.txt
Baram/api_request/item/__pycache__/char_item.cpython-311.pyc
SA/aa.ipynb
SA/api_request/basic/sa_2.txt
SA/api_request/ouid/sa_1.txt
SA/api_request/ouid/__pycache__/get_ouid.cpython-38.pyc
SA/api_request/tier/sa_3.txt
SA/crwaler/__pycache__/crwaling.cpython-38.pyc
SA/crwaler/__pycache__/prac.cpython-38.pyc
SA/crwaler/chromedriver-win64/chromedriver.exe
SA/crwaler/chromedriver-win64/LICENSE.chromedriver
SA/crwaler/chromedriver-win64/THIRD_PARTY_NOTICES.chromedriver
SA/api_request/basic/sa_3.txt
SA/api_request/basic/__pycache__/get_basic.cpython-311.pyc
SA/api_request/tier/__pycache__/get_tier.cpython-38.pyc
SA/api_request/recent-info/sa_3.txt
SA/api_request/recent-info/__pycache__/get_recent-info.cpython-38.pyc
SA/api_request/tier/sa_2.txt
SA/api_request/rank/sa_4.txt
SA/api_request/rank/__pycache__/get_rank.cpython-311.pyc
SA/api_request/tier/tier_df_eda.ipynb
SA/api_request/tier/tier_df_eda.ipynb
SA/api_request/match/__pycache__/get_match.cpython-38.pyc
SA/forecasting-win-rate/api_key.txt
SA/sa_3.txt
SA/forecasting-win-rate/collected_data/8d0f805b1eaf02abdf110ce7ecbcd51b_basic.json
SA/forecasting-win-rate/collected_data/8d0f805b1eaf02abdf110ce7ecbcd51b_rank.json
SA/forecasting-win-rate/collected_data/8d0f805b1eaf02abdf110ce7ecbcd51b_recent.json
SA/forecasting-win-rate/collected_data/8d0f805b1eaf02abdf110ce7ecbcd51b_tier.json
SA/forecasting-win-rate/collected_data/49e21650cb73f52746b5044d65464381_basic.json
SA/forecasting-win-rate/collected_data/49e21650cb73f52746b5044d65464381_rank.json
SA/forecasting-win-rate/collected_data/49e21650cb73f52746b5044d65464381_recent.json
SA/forecasting-win-rate/collected_data/49e21650cb73f52746b5044d65464381_tier.json
SA/forecasting-win-rate/collected_data/bb689be94d10edc7721dcdc3f1b1d8f5_basic.json
SA/forecasting-win-rate/collected_data/bb689be94d10edc7721dcdc3f1b1d8f5_rank.json
SA/forecasting-win-rate/collected_data/bb689be94d10edc7721dcdc3f1b1d8f5_recent.json
SA/forecasting-win-rate/collected_data/bb689be94d10edc7721dcdc3f1b1d8f5_tier.json
SA/forecasting-win-rate/collected_data/d9bd99143703e3571d9324d164df1d43_basic.json
SA/forecasting-win-rate/collected_data/d9bd99143703e3571d9324d164df1d43_rank.json
SA/forecasting-win-rate/collected_data/d9bd99143703e3571d9324d164df1d43_recent.json
SA/forecasting-win-rate/collected_data/d9bd99143703e3571d9324d164df1d43_tier.json
SA/forecasting-win-rate/collected_data/da0160bec93d0cd5f7d3fad9b58a1873_basic.json
SA/forecasting-win-rate/collected_data/da0160bec93d0cd5f7d3fad9b58a1873_rank.json
SA/forecasting-win-rate/collected_data/da0160bec93d0cd5f7d3fad9b58a1873_recent.json
SA/forecasting-win-rate/collected_data/da0160bec93d0cd5f7d3fad9b58a1873_tier.json
SA/forecasting-win-rate/collected_data/e8105bc04e4a48451d1ef5b73bf7cb02_basic.json
SA/forecasting-win-rate/collected_data/e8105bc04e4a48451d1ef5b73bf7cb02_rank.json
SA/forecasting-win-rate/collected_data/e8105bc04e4a48451d1ef5b73bf7cb02_recent.json
SA/forecasting-win-rate/collected_data/e8105bc04e4a48451d1ef5b73bf7cb02_tier.json
SA/forecasting-win-rate/collected_data/match_detail.json
SA/forecasting-win-rate/api_request/__pycache__/get_basic.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_match_detail.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_match_list.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_match.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_ouid.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_rank.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_recent_info.cpython-311.pyc
SA/forecasting-win-rate/api_request/__pycache__/get_tier.cpython-311.pyc
SA/forecasting-win-rate/utils/__pycache__/__init__.cpython-311.pyc
SA/forecasting-win-rate/utils/__pycache__/feature_engineering.cpython-311.pyc
SA/forecasting-win-rate/analysis/aa.ipynb
SA/forecasting-win-rate/analysis/df_final.csv
SA/forecasting-win-rate/analysis/df_match.csv
SA/forecasting-win-rate/analysis/df_merged.csv
